.aboutWrapper {
  width: 100%;
  background-color: #fff;
}
.aboutContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  &__title {
    padding-top: 30px;
    font-size: 65px;
    text-align: center;
    @media (max-width: 755px) {
      font-size: 55px;
      text-align: center;
    }
  }
  &__text {
    font-size: 35px;
    text-align: center;
    @media (max-width: 755px) {
      font-size: 25px;
    }
  }
  &__postWrapper {
    display: flex;
  }
  &__post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &__title {
      font-size: 35px;
      text-decoration: none;
      color: #000;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 0;
      overflow-wrap: anywhere;
      font-weight: bold;
      @media (max-width: 755px) {
        font-size: 25px;
      }
    }
    &__icon {
      width: 28px;
      fill: #1e90ff;
      @media (max-width: 755px) {
        width: 20px;
      }
    }
    &__content {
      font-size: 25px;
      text-align: center;
      margin-top: 5px;
      @media (max-width: 755px) {
        font-size: 20px;
      }
    }
  }
  &__modal {
    padding: 25px;
    @media (max-width: 755px) {
      padding: 15px;
      width: calc(100vw - 50px);
    }
    &__title {
      font-size: 35px;
      text-decoration: none;
      color: #000;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 0;
      overflow-wrap: anywhere;
      font-weight: bold;
      @media (max-width: 755px) {
        font-size: 25px;
      }
    }
    &__content {
      font-size: 25px;
      text-align: center;
      margin-top: 5px;
      @media (max-width: 755px) {
        font-size: 20px;
      }
    }
    &__images {
      display: contents;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      @media (max-width: 500px) {
        flex-direction: column;
      }
      &__image {
        @media (max-width: 500px) {
          width: 100%;
          height: 100%;
        }
        width: 32%;
        height: 32%;
        object-fit: cover;
        padding: 2px;
      }
    }
  }
}
.more_jump {
  animation: more 2s infinite;
}

@keyframes more {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.imgIcon {
  z-index: 999;
  width: 60px;
  margin: 20px;
  fill: #fff;
  cursor: pointer;
  &:hover {
    fill: #1e90ff;
  }
}
.closeIcon {
  right: 20px;
  width: 30px;
  margin-right: 20px;
  margin-top: 20px;
  position: absolute;
  z-index: 999;
  fill: #fff;
  cursor: pointer;
  &:hover {
    fill: #1e90ff;
  }
}
