.contactWrapper {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}
.contactContainer {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  &__title {
    font-size: 65px;
    margin-bottom: 40px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    &__text {
      font-size: 35px;
      text-decoration: none;
      color: #fff;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      overflow-wrap: anywhere;
      &__icon {
        width: 30px;
        fill: #1e90ff;
        padding-right: 10px;
      }
    }
  }
}
