.booksWrapper {
  width: 100%;
  background-color: #fff;
}
.booksContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  &__title {
    padding-top: 30px;
    font-size: 58px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    @media (max-width: 755px) {
      font-size: 50px;
    }
  }
  &__book {
    font-size: 25px;
    width: fit-content;

    @media (max-width: 755px) {
      font-size: 22px;
    }
    @media (max-width: 500px) {
      font-size: 18px;
    }
  }
  &__bookIcon {
    width: 30px;
    padding-right: 10px;
    fill: #1e90ff;
  }
  &__singleBook {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 500px) {
      width: 100%;
      justify-content: flex-start;
    }
  }
}
